@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Cross-domain copy-paste. Life's short. Eat chocolate.</p>

    <h4>Upload</h4>
    <p>Cross-domain copy-paste. Life's short. Eat chocolate.</p>

    <h4>Download</h4>
    <p>Cross-domain copy-paste. Life's short. Eat chocolate.</p>
</div>
